@media only screen and (max-width:768px){
    .navigation{
        
        position:fixed;
        top: 0;
        
        width: 100%;
        padding-top: 0 !important;
        
    }
    .inputBox{
       
        
        margin-left: 0 !important;
    }
    .title{
        position: fixed;
         
        margin-left: 171px !important;
        
        max-width: 100px;
        width: 100%;
        height: 20px !important;
        font-style: normal;
        font-weight: 200 !important;
        font-size: 25px !important;
        line-height: 20px;

    }

    .feature{
        position: fixed;
        margin-left: 320px;
        margin-right: 0 !important;
        max-width: 50px;
        width: 100%;
        font-size: 10px;
         
      }

}